@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Bebas+Neue&family=Josefin+Sans:wght@300;400&family=Lilita+One&family=Nunito+Sans:wght@200;300;400;600&family=Open+Sans:wght@300&family=Teko:wght@400;500&family=Varela+Round&display=swap');
.post{
    width: 350px;
    margin: 0% 2% 4% 2%;
    font-weight: bold; 
    border-style:outset;
    padding: 2%;
    border-radius: 10px;
    max-width: 100%;
  display: block;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.post:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    }
    
 
.postImage{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.postCats{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: rgba(184, 44, 16, 0.8);
    margin-top: 3%;
    cursor: pointer;
}
.Date{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; 
    margin-top: 3%;
}
.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; 
    margin-top: 3%;
    cursor: pointer;
}
.postDesc{
    
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}