@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Catamaran:wght@100&family=Noto+Sans+SC:wght@700&family=PT+Sans+Narrow:wght@700&family=Pacifico&family=Ubuntu:wght@500&family=Varela+Round&display=swap');
.pagePosts{
    margin: 2%;
    margin-top: 2%!important;
    display: flex;
    flex-wrap: wrap;
}

.noPosts{
    margin: 2%;
    margin-top: 2%!important;
    display: flex;
    flex-direction: column;
    min-height: 550px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10% ;

}

.recentBlog .noPosts{
    min-height: auto !important;
    padding: 5%;
    margin:0 !important ;
    
}

.divider{
visibility: hidden;
}
h5.textNoPage{
    margin-top: 3rem ;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: x-large;
    color:rgba(184, 44, 16, 0.8);
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
} 
h5.pageTitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 250%;
    font-weight: bolder;
    color: rgba(184, 44, 16, 0.8);
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem !important;
    margin-top: 3% !important;
}
.gif{
    width: 30rem;
}

@media only screen and (max-width: 1090px) {
    .pagePosts{
        margin: 5% 0;
        padding: 0% !important;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
    .textNoPage{
        font-size:medium !important;
    }
    .recentBlog .textNoPage{
        font-size:x-large !important;
    }
    h5.textNoPage{
        margin: 3rem 0 0 0 !important;
    }
}
@media only screen and (max-width: 800px) {
    h5.textNoPage{
        margin: 1rem 0 0 0 ;
    }
    .noPosts{
        min-height: 400px;
        margin-top: 5% !important;
        margin-bottom: 80% !important;
    }
    .recentBlog .textNoPage{
        font-size:1.5em !important;
    }
    .recentBlog .noPosts{
        margin-bottom: 0% !important;padding: 14% 5%;
    }
   
    
}
@media only screen and (max-width: 480px) {

    
    
     
    
    .gif{
        width: 40vh;}
    /* } 
    h5.pageTitle{
        margin: 0 !important;
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }
    .divider{
        visibility: visible;
        width: 80%;
        border-style: dashed ;
        color: rgb(153, 147, 147);
        border-width: 0.1em;
    }
    .pagePosts{
        margin: 0%;
        padding: 0;
        
    } */
}

@media only screen and (max-width: 560px) {

    h5.pageTitle{
        font-size: x-large;
    }}
@media only screen and (max-width: 520px) {

.textNoPage{
    padding-left: 0% !important;
            font-family: 'Noto Sans SC', sans-serif;
            
            color:brown;
           
        } 
.noPosts{
    padding:0 8%;
}
.recentBlog .textNoPage{
    font-size:large !important;
}

}