.topbar{
    width: 100%;
    min-height: 30px;
    background-color: rgba(184, 44, 16, 0.8);
    top: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.topList{
    margin-left: 35%;
    display: flex;
    align-items: center;

}
.navItem{
    cursor: pointer;
}
ul.topList{
    padding: 0 0;
}

nav.primary-navigation1 {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
  
  }
  nav.primary-navigation1 ul li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
    padding-right: 30px;
  }
  nav.primary-navigation1 li {
    color:black;
   
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
  }
  nav.primary-navigation1 li:hover {
    cursor: pointer;
    
  }
  nav.primary-navigation1 ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
  }
  nav.primary-navigation1 ul li:hover > ul,
  nav.primary-navigation1 ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
  }
  nav.primary-navigation1 ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }
  nav.primary-navigation11 ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid rgba(184, 44, 16, 0.8);
    transition: all 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color:black;
  }
  
  ul li a {
    transition: all 0.5s ease;
  }

  @media only screen and (max-width:480px){
    .topbar{
      min-height: 20px !important;
    }
    nav.primary-navigation1 {
      margin: 0 auto;
      padding-top: 9px;
      padding-bottom: 5px;
    }
    .topList{
      margin-right: 80px;
    }
    nav.primary-navigation1 ul li {
      padding-right: 5px;
    }
  }