.credits{
    background-color:  rgba(184, 44, 16, 0.8);
    color: white;
    text-align: center;
    padding: 4% 9% 1% 9%;
    font-weight: bold;
}

.notVisible{
    color: rgba(184, 44, 16, 0.8);
    font-size: 0;
}
@media only screen and (max-width: 600px) {
    .credits{
        padding-top: 10%;
        margin-bottom: 0;
        font-size: small;
    }
}
